body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    font-family: "Century Gothic";
}
h1{
    font-family: "Century";
    font-size: 28pt;
    font-weight: bold;
}

#root {

}

#target-input {
    background-color: darkgray;
    padding: 10px;
}

#target-input > * {
    margin: 5px;
}

#menu {
    background-color: lightgray;
    padding: 10px;
}

#menu > * {
    margin: 5px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
input, button{
    border-radius: 5px;
    padding: 3px;
    border: 2px solid lightgray;
}
header{
    margin-left: 50px;
}
#warning{
    color: white;
    text-shadow: #000 1px 1px 10px;
}