body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {

}

#target-input {
    background-color: darkgray;
    padding: 10px;
}

#target-input > * {
    margin: 5px;
}

#menu {
    background-color: lightgray;
    padding: 10px;
}

#menu > * {
    margin: 5px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
input, button{
    border-radius: 5px;
    padding: 3px;
    border: 2px solid lightgray;
}